html {
  font-size: 12px;
  font-family: Roboto, sans-serif;
}

body {
  margin: 0px;
  overflow: hidden;
}

.border {
  border: 1px solid #f7f7f7;
}
.add-panel {
  background: orange;
  padding: 3px 6px;
  color: white !important;
  border-radius: 3px;
}
.add-panel, .remove-panel, .edit-panel {
  cursor: pointer;
}
.remove-panel {
  /* float: right; */
}
.panel {
  font-family: Roboto Mono, monospace;
  padding: 3px 7px;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.panel-side {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
}

.edit-panel {
  width: auto;
  height: auto;
  margin-right: .5rem;
}

.textWrap {
  display: flex;
  flex-direction: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.data {
  font-size: .8rem;
}


.topGroup, .bottomGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#note {
  color: white;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* #top-Toolbar {
  display: none;
} */

.console-Wrap{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* height: auto; */
  justify-content: space-between;
}

.getBar {
  border-radius: 2px;
  width: 100%;
  height: 1rem;
  margin: .5rem 0px;
  border: 1.5px solid transparent;
  background-color: #232323;
  cursor: pointer;
}

#input {
  width: 100%;
}

#altMirror {
  position: absolute;
  border: 2px solid black;
  height: 2rem;
  width: auto;
  z-index: 1000;
}

.getBar:hover{
  background-color: #d65858;
}

.highlighted {
  background-color: #d65858;
}

.errorLine, .error {
  margin: .25rem 0px;
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
  /* background-color: #d65858; */
  font-weight: 700;
  color: #d65858;
}

.errorIcon {
  margin: auto .5rem;
}


#consoleText {
  font-family: Roboto Mono, monospace;
  max-width: 90%;
  height: auto;
  /* border: 2px solid red; */
}

.textArea {
  margin-top: .5rem;
  border: 1.5px solid transparent;
  border-radius: 2px;
  outline-offset: 2px;
  height: auto;
}

.textArea:focus {
  border-color: white;
}

.CodeMirror-linenumber {
  padding: 0 3px 0 0px;
}


/* .CodeMirror::-webkit-scrollbar {
  background-color: red;
} */

#cm {
  height: 10rem;
  display: hide;
}

.CodeMirror {
  /* height: auto; */
}

.CodeMirror-selectedtext {
  color: black !important;
  background: Navy !important;
}


/* .CodeMirror-selected {
  background-color: blue !important;
} */

/* .CodeMirror-selectedtext {
  background: #d7d489 !important;
} */

.CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
  background: #000;
}

::selection {
  background: #328efe; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #328efe; /* Gecko Browsers */
}
